body {

  margin: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Google Sans","Roboto",Arial,Helvetica,sans-serif;
  font-weight: normal;
  overflow-x: hidden;

}

.loadedAnimation {

  width: 200vw;
  height: 200vw;
  opacity: 0;
  border-radius: 100%;
  background-color: #8c2cd6;
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: load .7s;

}

.main {

  padding: 50px;

}

.name {

  color: #fff;
  font-size: 35px;
  font-weight: 400;
  margin: 25px;

}

p {

  color: #fff;
  font-weight: 400;
  font-size: 22px;
  margin-left: 25px;

}

.languages, .projects {

  padding: 25px;

}

.languages .lang {

  background-color: rgba(140, 44, 214, 0.5);
  padding: 12px;
  cursor: pointer;
  display: inline-block;
  border-radius: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  transition: box-shadow .3s;
  -webkit-transition: -webkit-box-shadow .3s;

}

.languages .lang:hover {

  -webkit-box-shadow: 10px 10px 133px -28px rgba(140,44,214,1);
  -moz-box-shadow: 10px 10px 133px -28px rgba(140,44,214,1);
  box-shadow: 10px 10px 133px -28px rgba(140,44,214,1);
  transition: box-shadow .3s;
  -webkit-transition: -webkit-box-shadow .3s;

}

.languages .lang img {

  width: 100px;
  height: 100px;

}

a {

  color: #fff;
  text-decoration: underline;
  display: block;

}

.projects .project {

  background-color: rgba(140, 44, 214, 0.5);
  padding: 12px;
  cursor: pointer;
  width: 320px;
  color: #fff;
  text-decoration: none;
  display: block;
  border-radius: 15px;
  margin-right: 20px;
  font-size: 22px;
  margin-bottom: 20px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  transition: box-shadow .3s;
  -webkit-transition: -webkit-box-shadow .3s;

}

.projects .project p {

  font-size: 17px;
  margin-left: 0;
  margin-bottom: auto;

}

.projects .project:hover {

  -webkit-box-shadow: 10px 10px 133px -28px rgba(140,44,214,1);
  -moz-box-shadow: 10px 10px 133px -28px rgba(140,44,214,1);
  box-shadow: 10px 10px 133px -28px rgba(140,44,214,1);
  transition: box-shadow .3s;
  -webkit-transition: -webkit-box-shadow .3s;

}

.seperator {

  width: 20px;
  height: 10px;
  display: inline-block;

}

@media screen and (max-width: 790px) {

  .projects .project {

    width: 80%;

  }

}

@keyframes load {

  from {

    width: 1px;
    height: 1px;
    opacity: 1;

  }

  to {

    width: 200vw;
    height: 200vw;
    opacity: 0.1;

  }

}
