/*
*
* Created by Marton
* https://marton.lederer.hu
*
*/

@font-face {

  font-family: Circular-bold;
  src: url(fonts/circular-bold.woff2);

}

@font-face {

  font-family: Circular-light;
  src: url(fonts/circular-book.woff2);

}

body {

  margin: 0;
  font-family: Circular-light, sans-serif;
  font-weight: 400;

}

h1, h2 {

  font-family: Circular-bold, sans-serif;

}

::selection {

  background: #1db954;
  color: #fff;

}

::-moz-selection {

  background: #1db954;
  color: #fff;

}

.landing {

  height: 100vh;
  position: relative;
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(20, 83, 43, 1) 36%, rgba(29, 185, 84, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(20, 83, 43, 1) 36%, rgba(29, 185, 84, 1) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(20, 83, 43, 1) 36%, rgba(29, 185, 84, 1) 100%);

}

.landing .social-media {

  display: inline-block;
  float: right;
  padding: 20px;

}

.landing .social-media a {

  margin: 12px;
  text-decoration: none;
  transition: all .3s;

}

.landing .social-media a i {

  color: #fff;
  font-size: 20px;

}

.landing .social-media a:hover {

  opacity: .7;

}

.landing .center {

  position: absolute;
  top: 50%;
  left:13vw;
  transform: translateY(-50%);

}

.landing .center h1 {

  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 5em;

}

.landing .center h2 {

  color: #fff;
  font-weight: 600;
  margin: 0;
  font-size: 2.3em;
  text-transform: uppercase;

}

.about, .experience, .projects, .footer {

  padding: 70px 13vw;
  background-color: #000;

}

.about h1, .experience h1, .projects h1, .footer h1 {

  color: #fff;
  margin: 0 0 7px 0;
  font-size: 2.2em;

}

.about h1 span, .projects h1 span, .footer h1 span {

  display: block;
  width: 33px;
  height: 2px;
  background-color: #1db954;

}

.about p, .projects p, .footer p {

  color: #fff;
  font-size: 18px;

}

.footer p {

  margin-bottom: 1px;

}

.about p span, .projects p span, .footer p span {

  border-bottom: 1px solid #1db954;
  margin-bottom: 2px;

}

.about p a, .projects p a, .footer a {

  text-decoration: none;
  color: #1db954;
  background: linear-gradient(to bottom, #1db954 0%, #1db954 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  transition: all .2s;

}

.about p a:hover, .projects p a:hover, .footer a:hover {

  background-size: 2px 100%;
  color: #fff;

}

.experience {

  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,118,60,1) 18%, rgba(29,135,67,1) 50%, rgba(27,118,60,1) 82%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,118,60,1) 18%, rgba(29,135,67,1) 50%, rgba(27,118,60,1) 82%, rgba(0,0,0,1) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,118,60,1) 18%, rgba(29,135,67,1) 50%, rgba(27,118,60,1) 82%, rgba(0,0,0,1) 100%);

}

.experience h2 {

  font-size: 20px;
  color: #fff;
  margin: 0 0 2px 0;

}

.experience .experience-bar {

  width: 100%;
  height: 12px;
  background-color: rgba(0, 0, 0, .3);
  margin-bottom: 10px;

}

.experience .experience-bar .fill {

  height: 100%;
  background-color: #000;

}

.projects a.project {

  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 120px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 10px;
  transition: all .3s;

}

.projects a.project span {

  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #fff;
  font-size: 16px;

}

.projects a.project:hover {

  opacity: .7;
  background-size: 120% 120%;

}

.projects p {

  margin-top: 10px;

}

.footer {

  padding-bottom: 10px;

}

.footer .left, .footer .right {

  display: inline-block;
  vertical-align: top;

}

.footer .right {

  float: right;
  width: 40vw;

}

.footer .copyright {

  color: rgba(29, 185, 84, .6);
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid rgba(29, 185, 84, .4);
  font-size: 16px;
  text-align: right;

}

@media screen and (max-width: 790px) {

  .footer .left, .footer .right {

    display: block;

  }

  .footer .right {

    width: auto;
    float: none;

  }

}
